.button {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: #fff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  transition: all ease 400ms;

  &:hover {
    transform: scale(1.1);
  }

  svg {
    fill: #000;
    font-size: 0.9rem;
    margin-left: 2px;
  }
}
