.container {
  min-width: 181px;
  max-width: 190px;
  height: 285px;
  background: #242424;
  padding: 16px;
  cursor: pointer;

  &:hover {
    background: #292929;

    .bannerSong {
      .playSong {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .bannerSong {
    width: 100%;
    height: 180px;
    background: #292929;
    position: relative;

    overflow: hidden;

    img {
      resize: unset;
      width: 100%;
      height: 100%;
    }

    .playSong {
      width: 50px;
      height: 50px;
      background: #1ed760;
      border-radius: 50%;
      border: none;
      outline: none;
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translateY(20px);
      transition: all ease 600ms;
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
      }

      svg {
        font-size: 2rem;
        margin-left: 4px;
      }
    }
  }

  h4,
  h6 {
    color: #fff;
    padding: 0;
    margin: 0;
    font-weight: 400;
  }

  h4 {
    font-weight: 500;
    margin-top: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  h6 {
    color: #a7a7a7;
    font-size: .9rem;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
