.button {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  margin: 0;
  width: 25px;
  height: 25px;
  margin-right: 5px;

  svg {
    width: 18px;
    height: 18px;
    color: #000;
  }
}
